<a href="https://colab.research.google.com/github/DaramG-star/TIL/blob/master/%EB%82%98%EC%9D%98_%EC%B2%AB_%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_%2B_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0_with_%ED%8C%8C%EC%9D%B4%EC%8D%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 자료구조의 분류

**추상 데이터 타입**은 자료구조를 설명하는 데이터의 타입을 말하며, 자료구조는 추상 데이터 타입을 실제로 구현한 결과를 말한다.

추상 데이터 타입인 리스트는 각 요소의 위치가 다른 요소에 의해 상대적으로 정해지는 데이터 타입으로, 요소를 추가하거나 제거하는 동작 역시 포함한다.

반면, 파이썬 리스트는 추상 데이터 타입을 실제로 구현한 자료구조이다.
파이썬에서는 추상 데이터타입인 리스트를 기반으로 파이썬 리스트와는 완전히 다른 자료구조를 만들 수 있다.

선형 자료구조 : 데이터 요소를 순서대로 정렬

비선형 자료구조 : 데이터를 비연속적으로 연결

그래프 : 각 요소가 다른 여러 요소와 연결될 수 있는 비선형 자료구조

## [리스트]
### 0 옮기기

리스트에 있는 0을 모두 찾아 리스트의 마지막으로 옮기고, 나머지 요소는 원래 순서를 유지하여라.

[8, 0, 3, 0, 12]

In [ ]:
def move_zeros(lst):
    zero_index = 0 # 변수를 초기화
    for index, n in enumerate(lst): #lst의 모든 인덱스와 숫자를 확인
        if n != 0: # n이 0이 아니면
            lst[zero_index] = n #zero_index 값을 n으로 바꾸고 zero_index와 index가 일치하는지를 확인
            if zero_index != index:
                lst[index] = 0
            zero_index += 1
    return (lst)

lst = [8, 0, 3, 0, 2]
move_zeros(lst)
print(lst)

[8, 3, 2, 0, 0]

### 리스트의 결합

movie_list = ["Interstellar", "Inception", "The Prestige", "Insomia", "Batman Begins"]

ratings_list = [1, 10, 10, 8, 6]

In [ ]:
movie_list = ["Interstellar", "Inception", "The Prestige", "Insomia", "Batman Begins"]

ratings_list = [1, 10, 10, 8, 6]

print(list(zip(movie_list, ratings_list)))

[('Interstellar', 1), ('Inception', 10), ('The Prestige', 10), ('Insomia', 8), ('Batman Begins', 6)]

### 중복 요소 찾기

In [ ]:
a_set = set()
a_set.add("Kanye West")
a_set.add("Kendall Jenner")
a_set.add("Justin Bieber")
print(a_set)

{'Kendall Jenner', 'Justin Bieber', 'Kanye West'}

In [ ]:
def return_dups(an_iterable):
    dups = []
    a_set = set()

    for item in an_iterable:
        I1 = len(a_set) # 추가하기 전이랑
        a_set.add(item)
        I2 = len(a_set) # 추가한 후랑 길이가 같다면
        if I1 == I2:
            dups.append(item) # dups에 넣기
    return dups

a_list = ["Susan Adams", "Kwame Goodall", "Jill Hampton", "Susan Adams"]

dups = return_dups(a_list)
print(dups)

['Susan Adams']

### 두 리스트의 교집합 찾기

this_weeks_winners = [2, 43, 48, 62, 64, 28, 3]

most_common_winners = [1, 28, 42, 70, 2, 10, 62, 31, 4, 14]

In [ ]:
def return_inter(lst1, lst2):
    lst3 = [v for v in lst1 if v in lst2]
    return lst3

lst1 = [2, 43, 48, 62, 64, 28, 3]
lst2 = [1, 28, 42, 70, 2, 10, 62, 31, 4, 14]
print(return_inter(lst1, lst2))

[2, 62, 28]

### 음이 아닌 정수로 구성되어 있는 배열에서 짝수만 추출한 배열과 홀수만 추출한 배열을 만들기

In [ ]:
lst = [1, 3, 2, 4, 5, 13, 14, 15, 63, 43, 52, 62, 77, 87, 57, 463, 241, 2131, 421, 124, 5346, 568, 586]

even = [n for n in lst if n%2 == 0]

odd = [n for n in lst if n%2 == 1]

print(even)
print(odd)

[2, 4, 14, 52, 62, 124, 5346, 568, 586]
[1, 3, 5, 13, 15, 63, 43, 77, 87, 57, 463, 241, 2131, 421]

## 스택

가장 최근에 추가한 요소만 제거할 수 있는 선형 자료구조

**후입 선출 자료구조(LIFO)**란 말 그대로 마지막에 추가한 요소부터 꺼낼 수 있는 자료구조를 말합니다.

반드시 순서를 따라야 하기 때문에 접근이 제한된 자료구조라고 하기도 합니다.

푸시(pushing)는 스택에 요소를 추가하는 것을 의미하고, 팝(pop)은 스택에 마지막으로 추가한 요소를 꺼내는 것을 의미합니다.

스택의 마지막에 있는 요소를 제거하지 않고 접근만 하는 픽(peeking)과 같은 동작을 정의하기도 합니다.

**제한된 스택**은 추가할 수 있는 요소의 수에 제한이 있는 스택이고,
**무제한 스택**은 추가할 수 있는 요소의 수에 제한이 없는 스택입니다.

In [ ]:
class Stack:
    def __init__(self):
        self.items = []

    def push(self, data):
        self.items.append(data)

    def pop(self):
        return self.items.pop()

    def size(self):
        return len(self.items)

    def is_empty(self):
        return len(self.items) == 0

    def peek(self):
        return self.items[-1]

In [ ]:
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

class Stack:
    def __init__(self):
        self.head = None

    def push(self, data):
        node = Node(data)
        if self.head is None:
            self.head = node
        else:
            node.next = self.head
            self.head = node

    def pop(self):
        if self.head is None:
            raise IndexError('pop from empty stack')
        poppednode = self.head
        self.head = self.head.next
        return poppednode.data

In [ ]:
stack = Stack()
stack.push(1)
stack.push(2)
stack.push(3)

for i in range(3):
    print(stack.pop())

3
2
1

In [ ]:
stack = []
print(stack)
stack.append('Kanye West')
print(stack)
stack.append('Jay-Z')
print(stack)
stack.append('Chance the Rapper')
print(stack)
stack.pop()
print(stack)

[]
['Kanye West']
['Kanye West', 'Jay-Z']
['Kanye West', 'Jay-Z', 'Chance the Rapper']
['Kanye West', 'Jay-Z']

### 스택을 사용해 문자열 뒤집기

In [1]:
def reverse_string(a_string):
    stack = []
    string = ""
    for c in a_string:
        stack.append(c)
    for c in a_string:
        string += stack.pop()
    return string

print(reverse_string("Bieber"))

rebeiB

## 최소 스택

푸시와 팝과 같은 스택 동작으로 가장 작은 요소를 반환하는 메서드를 가진 자료구조를 설계하기

가장 작은 요소를 추적하는 스택을 구현

In [2]:
class MinStack():
    def __init__(self):
        self.main = []
        self.min = []

    def push(self, n):
        if len(self.main) == 0:
            self.min.append(n)
        elif n <= self.min[-1]:
            self.min.append(n)
        else:
            self.min.append(self.min[-1])
        self.main.append(n)

    def pop(self):
        self.min.pop()
        return self.main.pop()

    def get_min(self):
        return self.min[-1]

In [4]:
min_stack = MinStack()
min_stack.push(10)
min_stack.push(15)
print(min_stack.main)
print(min_stack.min)

[10, 15]
[10, 10]

## 스택과 괄호

In [5]:
def check_parentheses(strr):
    stack = []
    for c in strr:
        if c == "(":
            stack.append(c)
        if c == ")":
            if len(stack) == 0:
                return False
            else:
                stack.pop()

    return len(stack) == 0

print(check_parentheses("((()()((()()()))))"))

True

# 큐

**선입 선출 자료구조**

**인큐**로 요소를 큐에 추가

**디큐**로 요소를 큐에서 제거

In [6]:
from queue import Queue

q = Queue()
q.put('a')
q.put('b')
q.put('c')
print(q.qsize())
for i in range(3):
    print(q.get())

3
a
b
c

## 두개의 스택을 사용해 큐 만들기

In [ ]:
class Queue:
    def __init__(self):
        self.s1 = [] # queue 클래스를 정의
        self.s2 = []

    def enqueue(self, item): # enqueue 메서드를 정의
        while len(self.s1) != 0:
            self.s2.append(self.s1.pop())
        self.s1.append(item)
        while len(self.s2) != 0:
            self.s1.append(self.s2.pop())

    def dequeue(self):
        if len(self.s1) == 0: # 비어있는지 확인
            raise Exception("Cannot pop from empty queue")
        return self.s1.pop

# 해시 테이블

연관 배열은 고유한 키를 사용해 키와 값의 쌍을 저장하는 추상 데이터 타입으로, 키-값 쌍은 키와 값을 하나로 묶은 데이터를 말한다.

키는 값을 가져올 때 사용하고, 값은 키를 사용해 가져온 데이터이다.

In [7]:
a_dict = {}
a_dict[1776] = 'Independence Year'
print(a_dict[1776])

Independence Year

## 문자열 세기

In [8]:
def count(strr):
    a_dict = {}
    for char in strr:
        if char in a_dict:
            a_dict[char] += 1
        else:
            a_dict[char] = 1
    print(a_dict)

In [15]:
result = count('daramdaram')
print(result)

{'d': 2, 'a': 4, 'r': 2, 'm': 2}
None

## 두수의 합

In [ ]:
def two_sum_brute(the_list, target):
    index_list = []
    for i in range(0, len(the_list)):
        for j in range(i, len(the_list)):
            if the_list[i] + the_list[j] == target:
                return [the_list[i], the_list[j]]

In [25]:
strr = "I am a self-taught programmer looking for a job as a programmer"

strr = list(strr.split())
unique_str = " ".join(dict.fromkeys(strr))  # 순서 유지하며 중복 제거
print(unique_str)

I am a self-taught programmer looking for job as