<a href="https://colab.research.google.com/github/DaramG-star/TIL/blob/master/%EC%9B%94%EB%A7%90%ED%8F%89%EA%B0%80_%EB%8C%80%EB%B9%84_%EC%BD%94%EB%93%9C%EC%A0%95%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 내장함수 구현

In [ ]:
arr = [3, 2, 1, 4, 5, 32]
data = {'a': 3, 'b': 2, 'c': 1, 'd': 4, 'e': 5}

#sum
#len
#max
#min
#avg

## 정답

In [ ]:
arr = [3, 2, 1, 4, 5, 32]
data = {'a': 3, 'b': 2, 'c': 1, 'd': 4, 'e': 5}

# sum 구하기
def get_sum(arr):
    total = 0
    for num in arr:
        total += num
    return total

#딕셔너리일때 sum 구하기
def get_sum_dict(data):
    total = 0
    for value in data.values():
        total += value
    return total

# len 구하기
def get_len(arr):
    total = 0
    for num in arr:
        total += 1
    return total

# 딕셔너리일때 len 구하기
def get_len_dict(data):
    total = 0
    for value in data.values():
        total +=1
    return total

# max 구하기
def get_max(max):
    max_num = arr[0]
    for num in arr:
        if max_num < num:
            max_num = num
    return max_num

# 딕셔너리일때 max 구하기
def get_max_dict(data):
    values = list(data.values())
    max_num = values[0]
    for value in values:
        if max_num < value:
            max_num = value
    return max_num

# min 구하기
def get_min(arr):
    min_num = arr[0]
    for num in arr:
        if min_num > num:
            min_num = num
    return min_num

# 딕셔너리일때 min 구하기
def get_min_dict(data):
    values = list(data.values())
    min_num = values[0]
    for value in values:
        if min_num > value:
            min_num = value
    return min_num

# 평균값 구하기
sum_v = get_sum(arr)
N = get_len(arr)
avg = sum_v / N
print(round(avg, 2))
print(f'{avg:.0f}')
print(int(avg))

# 딕셔너리일때 평균값 구하기
sum_d = get_sum_dict(data)
N = get_len_dict(data)
avg = sum_d / N
print(round(avg, 2))

print(get_len(arr))
print(get_len_dict(data))
print(get_max(arr))
print(get_max_dict(data))
print(get_min(arr))
print(get_min_dict(data))
print(get_sum(arr))
print(get_sum_dict(data))

7.83
8
7
3.0
6
5
32
5
1
1
47
15

## Set 쓰지 않고 중복제거

In [ ]:
arr = [3, 2, 1, 4, 5, 32]
data = {'a': 3, 'b': 2, 'c': 1, 'd': 4, 'e': 5}

## 정답

In [ ]:
# 중복 제거하기
arr = [1, 3, 4, 3, 5, 3]
data = {'a': 3, 'b': 2, 'c': 1, 'd': 4, 'e': 5}

def get_set(arr):
    result = []
    for num in arr:
        if num not in result:
            result.append(num)
    return result

# 딕셔너리 중복제거하기

def remove_duplicates_dict(data):
    seen_values = []  # 이미 본 값들을 저장할 리스트
    result = {}

    for key, value in data.items():
        if value not in seen_values:
            seen_values.append(value)  # 중복 체크 리스트에 추가
            result[key] = value  # 결과 딕셔너리에 추가

    return result


print(get_set(arr))

[1, 3, 4, 5]

## [실습 3일차]

In [ ]:
def sum_digits(n):
    total = 0
    while n > 0:
        total += n % 10  # 마지막 자릿수 추출하여 더하기
        n //= 10  # 마지막 자릿수 제거
    return total

In [80]:
## 주어진 코드
number_of_people = 0


def increase_user():
    global number_of_people
    number_of_people += 1

def create_user(name, age, address):
    user_info = {'name' : name, 'age' : age, 'address': address}
    increase_user()
    print(f"{name}님 환영합니다!")
    return user_info

print(f"현재 가입 된 유저 수 : {number_of_people}")
result = create_user('홍길동', 25, '서울')
print(result)
print(f"현재 가입 된 유저 수 : {number_of_people}")

현재 가입 된 유저 수 : 0
홍길동님 환영합니다!
{'name': '홍길동', 'age': 25, 'address': '서울'}
현재 가입 된 유저 수 : 1

In [86]:
## 주어진 코드
def rental_book(name, book):
    decrease_book(book)
    print(f'{name}님이 {book}권의 책을 대여하였습니다.')

number_of_book = 100

def decrease_book(book):
    global number_of_book
    number_of_book -= book
    print(f"남은 책의 수 : {number_of_book}")

new_user = rental_book('홍길동', 3)

남은 책의 수 : 97
홍길동님이 3권의 책을 대여하였습니다.

In [90]:
## 주어진 코드

number_of_people = 0


def increase_user():
    global number_of_people
    number_of_people += 1


def create_user(name, age, address):
    user_info = {'name' : name, 'age' : age, 'address': address}
    increase_user()
    print(f"{name}님 환영합니다!")
    return user_info


name = ['김시습', '허균', '남영로', '임제', '박지원']
age = [20, 16, 52, 36, 60]
address = ['서울', '강릉', '조선', '나주', '한성부']

result = list(map(lambda i : create_user(name[i], age[i], address[i]), range(len(name))))
print(result)

김시습님 환영합니다!
허균님 환영합니다!
남영로님 환영합니다!
임제님 환영합니다!
박지원님 환영합니다!
[{'name': '김시습', 'age': 20, 'address': '서울'}, {'name': '허균', 'age': 16, 'address': '강릉'}, {'name': '남영로', 'age': 52, 'address': '조선'}, {'name': '임제', 'age': 36, 'address': '나주'}, {'name': '박지원', 'age': 60, 'address': '한성부'}]

In [ ]:
## 주어진 코드

number_of_people = 0

def rental_book(info):
    decrease_book(book)
    print(f'{name}님이 {book}권의 책을 대여하였습니다.')

number_of_book = 100

def decrease_book(book):
    global number_of_book
    number_of_book -= book
    print(f"남은 책의 수 : {number_of_book}")

new_user = rental_book('홍길동', 3)


def increase_user():
    global number_of_people
    number_of_people += 1


def create_user(name, age, address):
    user_info = {'name' : name, 'age' : age, 'address': address}
    increase_user()
    print(f"{name}님 환영합니다!")
    return user_info


name = ['김시습', '허균', '남영로', '임제', '박지원']
age = [20, 16, 52, 36, 60]
address = ['서울', '강릉', '조선', '나주', '한성부']

result = list(map(lambda i : create_user(name[i], age[i], address[i]), range(len(name))))
print(result)

In [91]:
# 1. 절댓값을 반환하는 함수 abs를 사용하여 아래 변수에 담긴 값의 절댓값을 출력하시오.
negative = -3
print(abs(negative))

# 2. 아래 변수에 담긴 값의 boolean 값을 출력하시오.
empty_list = []
print(bool(empty_list))

# 3. 주어진 리스트가 가진 모든 값을 더한 결과를 출력하시오.
my_list = [1, 2, 3, 4, 5]
print(sum(my_list))

# 4. 주어진 정렬을 오름차순으로 정렬한 결과를 출력하시오.
unsorted_list = ['하', '교', '캅', '의', '지', '가']
unsorted_list.sort()
print(unsorted_list)

3
False
15
['가', '교', '의', '지', '캅', '하']

## [실습 4일차]

In [ ]:
#주어진 코드

food_list = [
    {
        '종류': '한식',
        '이름': '잡채'
    },
    {
        '종류': '채소',
        '이름': '토마토'
    },
    {
        '종류': '중식',
        '이름': '자장면'
    },
]

# 아래에 코드를 작성하시오.
for food in food_list:
    if food['이름'] == '토마토':
        food['종류'] = '과일'
        print(f"{food['이름']} 은/는 {food['종류']} (이)다.")
    elif food['이름'] == '자장면':
        print('자장면엔 고춧가루지')
        print(f"{food['이름']} 은/는 {food['종류']} (이)다.")
    else:
        print(f"{food['이름']} 은/는 {food['종류']} (이)다.")

print(food_list)

잡채 은/는 한식 (이)다.
토마토 은/는 과일 (이)다.
자장면엔 고춧가루지
자장면 은/는 중식 (이)다.
[{'종류': '한식', '이름': '잡채'}, {'종류': '과일', '이름': '토마토'}, {'종류': '중식', '이름': '자장면'}]

In [ ]:
i = 0
while i < len(food_list):
    food = food_list[i]
    if food['이름'] == '토마토':
        food['종류'] = '과일'
        print(f"{food['이름']} 은/는 {food['종류']} (이)다.")
    elif food['이름'] == '자장면':
        print('자장면엔 고춧가루지')
        print(f"{food['이름']} 은/는 {food['종류']} (이)다.")
    else:
        print(f"{food['이름']} 은/는 {food['종류']} (이)다.")
    i += 1

print(food_list)

잡채 은/는 한식 (이)다.
토마토 은/는 과일 (이)다.
자장면엔 고춧가루지
자장면 은/는 중식 (이)다.
[{'종류': '한식', '이름': '잡채'}, {'종류': '과일', '이름': '토마토'}, {'종류': '중식', '이름': '자장면'}]

In [ ]:
#주어진 코드
matrix = [
        ['0, 1', '0, 2', '0, 3'],
        ['1, 0', '1, 1', '1, 2', '1, 3'],
        ['2, 0', '2, 1', '2, 2', '2, 3', '2, 4'],
        ['3, 0', '3, 1'],
        ['4, 0', '4, 1', '4, 2'],
        ['5, 0']
    ]
# 아래에 코드를 작성하시오.

#(1)
matrix_len = 0
for num in matrix:
    matrix_len += 1
print(matrix_len)

#(2)
for number in matrix:
    temporary_len = 0
    for _ in number :
        temporary_len +=1

    if temporary_len <= 4:
        print(f"{number}리스트는 {temporary_len}개만큼 요소를 가지고 있습니다.")

#(3)
for x in range(len(matrix)):
    for y in range(len(matrix[x])):
        print(f"matrix의 {x}, {y}번째 요소의 값은 {matrix[x][y]}입니다.")

6
['0, 1', '0, 2', '0, 3']리스트는 3개만큼 요소를 가지고 있습니다.
['1, 0', '1, 1', '1, 2', '1, 3']리스트는 4개만큼 요소를 가지고 있습니다.
['3, 0', '3, 1']리스트는 2개만큼 요소를 가지고 있습니다.
['4, 0', '4, 1', '4, 2']리스트는 3개만큼 요소를 가지고 있습니다.
['5, 0']리스트는 1개만큼 요소를 가지고 있습니다.
matrix의 0, 0번째 요소의 값은 0, 1입니다.
matrix의 0, 1번째 요소의 값은 0, 2입니다.
matrix의 0, 2번째 요소의 값은 0, 3입니다.
matrix의 1, 0번째 요소의 값은 1, 0입니다.
matrix의 1, 1번째 요소의 값은 1, 1입니다.
matrix의 1, 2번째 요소의 값은 1, 2입니다.
matrix의 1, 3번째 요소의 값은 1, 3입니다.
matrix의 2, 0번째 요소의 값은 2, 0입니다.
matrix의 2, 1번째 요소의 값은 2, 1입니다.
matrix의 2, 2번째 요소의 값은 2, 2입니다.
matrix의 2, 3번째 요소의 값은 2, 3입니다.
matrix의 2, 4번째 요소의 값은 2, 4입니다.
matrix의 3, 0번째 요소의 값은 3, 0입니다.
matrix의 3, 1번째 요소의 값은 3, 1입니다.
matrix의 4, 0번째 요소의 값은 4, 0입니다.
matrix의 4, 1번째 요소의 값은 4, 1입니다.
matrix의 4, 2번째 요소의 값은 4, 2입니다.
matrix의 5, 0번째 요소의 값은 5, 0입니다.

In [ ]:
import requests

dummy_data = []

for i in range(1, 10):
    API_URL = f

In [ ]:
# 주어진 코드
list_of_book = [
    '장화홍련전',
    '가락국 신화',
    '온달 설화',
    '금오신화',
    '이생규장전',
    '만복자서포기',
    '수성지',
    '백호집',
    '원생몽유록',
    '홍길동전',
    '장생전',
    '도문대작',
    '옥루몽',
    '옥련몽',
]

rental_list = [
    '장생전',
    '원생몽유록',
    '이생규장전',
    '장화홍련전',
    '수성지',
    '백호집',
    '난중일기',
    '홍길동전',
    '만복자서포기',
]

for book in rental_list:
    flag = True
    if book not in list_of_book:
        print(f"{book}은 보유하고 있지 않습니다.")
        flag = False
        break
if flag == True:
    print('모든 도서가 대여 가능한 상태입니다.')

난중일기은 보유하고 있지 않습니다.

In [ ]:
# 주어진 코드
list_of_book = [
    '장화홍련전',
    '가락국 신화',
    '온달 설화',
    '금오신화',
    '이생규장전',
    '만복자서포기',
    '수성지',
    '백호집',
    '원생몽유록',
    '홍길동전',
    '장생전',
    '도문대작',
    '옥루몽',
    '옥련몽',
]

rental_book = [
    '장생전',
    '위대한 개츠비',
    '원생몽유록',
    '이생규장전',
    '데미안',
    '장화홍련전',
    '수성지',
    '백호집',
    '난중일기',
    '홍길동전',
    '만복자서포기',
]

missing_book = [book for book in rental_book if book not in list_of_book]

if missing_book:
    for book in missing_book:
        print(f"{book}을/를 보충해야 합니다.")
else :
    print("모든 도서가 대여 가능한 상태입니다.")

위대한 개츠비을/를 보충해야 합니다.
데미안을/를 보충해야 합니다.
난중일기을/를 보충해야 합니다.

In [92]:

food_list = [
    {
        '종류': '한식',
        '이름': '잡채'
    },
    {
        '종류': '채소',
        '이름': '토마토'
    },
    {
        '종류': '중식',
        '이름': '자장면'
    },
]

i = 0
while i < len(food_list):
    food = food_list[i]
    for food in food_list:
        if food['이름'] == '토마토':
            food['종류'] = '과일'
            print(f"{food['이름']}은/는 {food['종류']}(이)다.")
        elif food['이름'] == '자장면':
            print('자장면엔 고춧가루지')
            print(f"{food['이름']}은/는 {food['종류']}이다.")
        else :
            print(f"{food['이름']}은/는 {food['종류']}이다.")

        i += 1

print(food_list)

잡채은/는 한식이다.
토마토은/는 과일(이)다.
자장면엔 고춧가루지
자장면은/는 중식이다.
[{'종류': '한식', '이름': '잡채'}, {'종류': '과일', '이름': '토마토'}, {'종류': '중식', '이름': '자장면'}]

In [99]:
#주어진 코드
matrix = [
        ['0, 1', '0, 2', '0, 3'],
        ['1, 0', '1, 1', '1, 2', '1, 3'],
        ['2, 0', '2, 1', '2, 2', '2, 3', '2, 4'],
        ['3, 0', '3, 1'],
        ['4, 0', '4, 1', '4, 2'],
        ['5, 0']
    ]
# 아래에 코드를 작성하시오.

matrix_len = 0
for data in matrix:
    matrix_len +=1

print(matrix_len)

for number in matrix:
    temporary_len = 0
    for _ in number:
        temporary_len += 1
    if temporary_len <= 4:
        print(f"{number}리스트는 {temporary_len}만큼 요소를 가지고 있습니다.")

for x in range(len(matrix)):
    for y in range(len(matrix[x])):
        print(f"matrix의 {x}, {y}번째 요소의 값은 {matrix[x][y]}입니다.")

6
['0, 1', '0, 2', '0, 3']리스트는 3만큼 요소를 가지고 있습니다.
['1, 0', '1, 1', '1, 2', '1, 3']리스트는 4만큼 요소를 가지고 있습니다.
['3, 0', '3, 1']리스트는 2만큼 요소를 가지고 있습니다.
['4, 0', '4, 1', '4, 2']리스트는 3만큼 요소를 가지고 있습니다.
['5, 0']리스트는 1만큼 요소를 가지고 있습니다.
matrix의 0, 0번째 요소의 값은 0, 1입니다.
matrix의 0, 1번째 요소의 값은 0, 2입니다.
matrix의 0, 2번째 요소의 값은 0, 3입니다.
matrix의 1, 0번째 요소의 값은 1, 0입니다.
matrix의 1, 1번째 요소의 값은 1, 1입니다.
matrix의 1, 2번째 요소의 값은 1, 2입니다.
matrix의 1, 3번째 요소의 값은 1, 3입니다.
matrix의 2, 0번째 요소의 값은 2, 0입니다.
matrix의 2, 1번째 요소의 값은 2, 1입니다.
matrix의 2, 2번째 요소의 값은 2, 2입니다.
matrix의 2, 3번째 요소의 값은 2, 3입니다.
matrix의 2, 4번째 요소의 값은 2, 4입니다.
matrix의 3, 0번째 요소의 값은 3, 0입니다.
matrix의 3, 1번째 요소의 값은 3, 1입니다.
matrix의 4, 0번째 요소의 값은 4, 0입니다.
matrix의 4, 1번째 요소의 값은 4, 1입니다.
matrix의 4, 2번째 요소의 값은 4, 2입니다.
matrix의 5, 0번째 요소의 값은 5, 0입니다.

## [실습 5일차]

In [38]:
#주어진 코드
N = 9
data_1 = '123456789'
arr_1 = []
# 아래에 코드를 작성하시오.
for char in data_1:
    arr_1.append(char)
print(arr_1)


M = 15
data_2 = '1 2 3 4 5 6 7 8 9 10 11 12 13 14 15'
# 아래에 코드를 작성하시오.
arr_2 = data_2.split(' ')
for num in arr_2:
    num = int(num)
    if num % 2 == 1:
        print(num)

['1', '2', '3', '4', '5', '6', '7', '8', '9']
1
3
5
7
9
11
13
15

In [46]:
# 주어진 코드
data_1 = 'qweqwYadnOyjnsaU4trwg asjnaAn245krRmkfE 42grTasdnHasdnvEasdn asdevadnBasdanEsdkqefqefvaSasdqaeeqqvedwt5hfbsdT24tewfd'
'''
예시코드
arr = [1, 2, 3, 4, 5]
for num in arr:
    print(num, end='')
출력결과 : 12345
'''
# 아래에 코드를 작성하시오.
for char in data_1:
    if (char.isupper() == True) or (char == ' '):
        print(char, end='')



print()
data_2 = '걉파반샤팝다푸거맥파바자들퍼바배들밥샵파누타히매니배사바파힘다브사부힙헤베내테치대내'
arr = []
# 아래에 코드를 작성하시오.
arr.append(data_2.find('내'))
arr.append(data_2.find('힘'))
arr.append(data_2.find('들'))
arr.append(data_2.find('다'))
print(arr)
arr.sort()
print(arr)

for i in arr:
    print(data_2[i], end = '')

YOU ARE THE BEST
[37, 29, 12, 5]
[5, 12, 29, 37]
다들힘내

In [56]:
# 주어진 코드
def restructure_word(word, arr):
    for char in word:
        if char.isdecimal()== True:
            char = int(char)
            for _ in range(char):
                arr.pop()
        else:
            arr.remove(char)
    return arr

original_word = '코딩 공부는ㄴ 1일ㄹ 1커ㅓ밋ㅅ @@@#^()#_+!&~:"'
word = '1ㄴ2ㄹ3ㅓ4ㅅ5'
arr = []
for char in original_word:
    arr.extend(char)
print(arr)



result = restructure_word(word, arr)
print(result)

print(''.join(result))

['코', '딩', ' ', '공', '부', '는', 'ㄴ', ' ', '1', '일', 'ㄹ', ' ', '1', '커', 'ㅓ', '밋', 'ㅅ', ' ', '@', '@', '@', '#', '^', '(', ')', '#', '_', '+', '!', '&', '~', ':', '"']
['코', '딩', ' ', '공', '부', '는', ' ', '1', '일', ' ', '1', '커', '밋', ' ']
코딩 공부는 1일 1커밋

In [57]:
# 아래 함수를 수정하시오.
def reverse_string(S):
    reversed_string = ''.join(reversed(S))
    return reversed_string


result = reverse_string("Hello, World!")
print(result)  # !dlroW ,olleH

!dlroW ,olleH

In [58]:
# 주어진 코드
# 아래 함수를 수정하시오.
def remove_duplicates(lst):
    new_lst = []
    for data in lst:
        if data not in new_lst:
            new_lst.append(data)

    return new_lst


result = remove_duplicates([1, 2, 2, 3, 4, 4, 5])
print(result)

[1, 2, 3, 4, 5]

In [61]:
# 아래 함수를 수정하시오.
def sort_tuple(tp):
    stp = sorted(tp)
    new_tuple = tuple(stp)

    return new_tuple


result = sort_tuple((5, 2, 8, 1, 3))
print(result)

(1, 2, 3, 5, 8)

In [67]:
# 주어진 코드
# 아래 함수를 수정하시오.
def capitalize_words(s):
    return ''.join(word.capitalize() for word in s.split())


result = capitalize_words("hello, world!")
print(result)

Hello,World!

In [74]:
# 주어진 코드
# 아래 함수를 수정하시오.
def even_elements(lst):
    new_list = []
    for num in lst:
        new_list.extend([num])
        if num % 2 == 1:
            new_list.pop()
    return new_list


my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = even_elements(my_list)
print(result)

[2, 4, 6, 8, 10]

In [75]:
def count_character(str1, str2):
    return str1.count(str2)

result = count_character("Hello, World!", "o")
print(result)  # 2

2

In [77]:
def min2(lst):
    min_v = lst[0]
    for num in lst:
        if num < min_v:
            min_v = num
    return min_v

def max2(lst):
    max_v = lst[0]
    for num in lst:
        if num > max_v:
            max_v = num
    return max_v



def find_min_max(lst):
    return(min2(lst), max2(lst)) #


result = find_min_max([3, 1, 7, 2, 5])
print(result)  # (1, 7)

(1, 7)

## [실습 6일차]

In [6]:
# 주어진 코드
my_set = {'가', '나', (0, 0)}
my_dict = {
        '가': 1,
        (0, 0): '튜플도 키값으로 사용가능'
    }

# 아래에 코드를 작성하시오.
# (1)
# for data in my_set:
#     if data in my_dict:
#         print(f"{my_dict.get(data)}")
#     else :
#         print(None)

#(2)
for data in my_set:
    print(f"{my_dict.get(data, None)}")

#(3)
var = (1, 2, 3, 'A')
my_dict[var] = '변수로도 키 설정 가능'
print(my_dict)

None
1
튜플도 키값으로 사용가능
{'가': 1, (0, 0): '튜플도 키값으로 사용가능', (1, 2, 3, 'A'): '변수로도 키 설정 가능'}

In [9]:
# 주어진 코드
data = {
    '이름': '키위',
    '종류': '새',
    '원산지': '호주'
}

plus_data = {
    '종류': '과일',
    '가격': 30000
}
# 1. data가 가진 모든 키와 벨류 목록을 출력한다.
print(data.items())

# 2. data가 가진 벨류 목록들만 모아서 출력한다.
print(data.values())

# 3. data에서 'without' 키가 가진 value를 출력한다.
    # 해당하는 키가 data에 없다면, 'unknown' 문자열을 출력한다.
print(data.get('without', 'unknown'))

# 4. plus_data가 가진 모든 키와 벨류를 data에 추가한다.
data.update(plus_data)

# 5. 변경된 data를 출력한다.
print(data)

dict_items([('이름', '키위'), ('종류', '새'), ('원산지', '호주')])
dict_values(['키위', '새', '호주'])
unknown
{'이름': '키위', '종류': '과일', '원산지': '호주', '가격': 30000}

In [14]:
# 주어진 코드

data = [
    {
        'name': 'galxy flip',
        'company': 'samsung',
        'is_collapsible': True,
    },
    {
        'name': 'ipad',
        'is_collapsible': False
    },
    {
        'name': 'galxy fold',
        'company': 'samsung',
        'is_collapsible': True
    },
    {
        'name': 'galxy note',
        'company': 'samsung',
        'is_collapsible': False
    },
    {
        'name': 'optimus',
        'is_collapsible': False
    },
]

key_list = ['name', 'company', 'is_collapsible']

for item in data:
    for key in key_list:
        value = item.get(key, item.setdefault(key, 'unknown'))
        print(f"{key}은/는 {value}입니다.")
    print('')

name은/는 galxy flip입니다.
company은/는 samsung입니다.
is_collapsible은/는 True입니다.

name은/는 ipad입니다.
company은/는 unknown입니다.
is_collapsible은/는 False입니다.

name은/는 galxy fold입니다.
company은/는 samsung입니다.
is_collapsible은/는 True입니다.

name은/는 galxy note입니다.
company은/는 samsung입니다.
is_collapsible은/는 False입니다.

name은/는 optimus입니다.
company은/는 unknown입니다.
is_collapsible은/는 False입니다.

In [30]:
# 주어진 코드
# 아래 함수를 수정하시오.
def union_sets(set1, set2):
    return set1 | set2

def union_multiple_sets(*sets):
    if len(sets) < 2:
        print("최소 두 개의 셋이 필요합니다.")
    else:
        union_sets = set()
        for s in sets:
            union_sets.update(s)
        return union_sets

result = union_sets({1, 2, 3}, {3, 4, 5})
print(result)  # {1, 2, 3, 4, 5}

result = union_multiple_sets({1, 2}, {3, 4}, {5, 6})
print(result)  # {1, 2, 3, 4, 5, 6}

result = union_multiple_sets({1, 2})
# 출력 : 최소 두 개의 셋이 필요합니다

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
최소 두 개의 셋이 필요합니다.

In [19]:
# 주어진 코드
# 아래 함수를 수정하시오.
def get_value_from_dict(dict, key):
    return dict.get(key, 'Unknown')


my_dict = {'name': 'Alice', 'age': 25}
result = get_value_from_dict(my_dict, 'name')
print(result)  # Alice

result = get_value_from_dict(my_dict, 'gender')
print(result)  # Unknown

Alice
Unknown

In [21]:
# 주어진 코드
# 아래 함수를 수정하시오.
def intersection_sets(set1, set2):
    intersections = set1 & set2
    if intersections:
        return len(intersections), intersections
    else :
        print("공통 요소가 없습니다.")
        return len(intersections), intersections


result = intersection_sets({1, 2, 3}, {3, 4, 5})
print(result)  # (1, {3})

result = intersection_sets({1, 2}, {3, 4})
print(result)  # (0, set())
# 출력: 공통 요소가 없습니다

(1, {3})
공통 요소가 없습니다.
(0, set())

In [31]:
# 주어진 코드
# 아래 함수를 수정하시오.
def get_keys_from_dict(dictionary):
    key = dictionary.keys()
    return list(key)


def get_all_keys_from_dict(dictionary):
    all_keys = list(dictionary.keys())  # 최상위 키 추가
    for value in dictionary.values():  # 값 탐색
        if isinstance(value, dict):  # 값이 딕셔너리라면
            all_keys.extend(get_all_keys_from_dict(value))  # 재귀적으로 키를 추가
    return all_keys

my_dict = {'name': 'Alice', 'age': 25}
result = get_keys_from_dict(my_dict)
print(result)  # ['name', 'age']

my_dict = {'person': {'name': 'Alice', 'age': 25}, 'location': 'NY'}
result = get_all_keys_from_dict(my_dict)
print(result)  # ['person', 'name', 'age', 'location']

['name', 'age']
['person', 'location', 'name', 'age']

In [ ]:
def get_keys_from_dict(dictionary):
    key = dictionary.keys()
    return list(key)

def get_all_keys_from_dict(dictionary):
    all_keys = list(dictionary.keys())
    for value in dictionary.values():
        if isinstance(value, dict):
            all_keys.extend(get_all_keys_from_dict(value))
    return all_keys